.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--color-shadow-dark);
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: white;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  // flex: <flex-grow> <flex-shrink> <flex-basis>
  // We don't want to grow the element, hence flex-grow = 0
  // We don't want to shrink the element, hence flex-shrink = 0
  flex: 0 0 10%;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: white;
  // flex: <flex-grow>
  // Take the full available space.
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);;
}

.description {
  font-size: 1.4rem;
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  // We don't need to scale up or down the element, But we need this element to take.
  // 60% of the available width from ".detail" element.
  flex: 0 0 60%;
  margin-right: 4.5rem;

}

.user-reviews {
  background-color: yellowgreen;

  // Since ".description" takes 60% available width from ".detail" element, we want
  // this element to takes the remaining full width of the ".detail" element. So we set
  // flex: <flex-grow>
  // flex: 1 - Take the full available space.
  flex: 1;
}